<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">SalaLAN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/iscrizioni/tornei">Tornei</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/iscrizioni/prenotazioni">Prenota</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Profilo</a>
    </li>
</ul>