<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><img src="https://www.pngplay.com/wp-content/uploads/12/Gamepad-Background-PNG.png" style="max-width: 20%" alt="..."></h1>

            <p>Crea un account o accedi</p>
            <a href="/users/signup" class="btn btn-primary btn-block mb-2"
            >Registrati</a
            >
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="card card-body text-center">
        <h2 style="color: steelblue">Benvenuti alla nostra sala LAN</h2>
        <section class="features">
            <div class="feature">
                <h3>Orari</h3>
                <p>La nostra sala LAN è aperta tutti i giorni dalle 9:00 alle 22:00. Se desiredi prenotare una postazione o iscriverti ad un torneo sarà necessario creare un account o accedere se già sei registrato.</p>
            </div>
            <div class="feature">
                <h3>Grande varietà di giochi</h3>
                <p>Offriamo una vasta scelta di giochi, dai classici ai più recenti, per soddisfare tutti i gusti. Tieni d'occhio la sezione tornei per vedere tutti i cambiamenti e i nuovi giochi disponibili.</p>
            </div>
            <div class="feature">
                <h3>Tornei ed eventi</h3>
                <p>Organizziamo regolarmente tornei e eventi, dove potrai competere con altri giocatori e vincere fantastici premi.</p>
            </div>
        </section>
    </div>
</div>
